@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  color: black;
}

.heroAbilities {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 1rem;
  grid-column-start: auto;
}

.heroAbilitiesContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 2rem;
  padding-left: 2rem;
  color: black;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Kode Mono", monospace;
}

.heroStory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.linksDiv {
  margin: 4rem;
}

.linksSectionTitle {
  color: black;
}

.abilities {
  font-size: 2rem;
}

.heroName {
  font-size: 4rem;
  font-family: "Kode Mono", monospace;
}
