.container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  height: 100%;
}

.playerDetails {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerDetails h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.playerDetails p {
  margin-bottom: 5px;
}

.endorsement {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.endorsement > img {
  width: 4rem;
  margin-left: 1rem;
}

.endorsement > h2 {
  align-self: flex-end;
}

.competitive {
  margin-top: 20px;
  width: 100%;
  flex-direction: colum;
}

.roleDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  justify-self: flex-start;
}

.rankDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  justify-self: flex-start;
}

.tierDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  justify-self: flex-start;
}

.Role {
  width: 4rem;
}

.playerCard {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.avatar {
  width: 10rem;
  height: 10rem;
}

.namecard {
  height: 10rem;
  width: 40rem;
}

.playerTitle {
  position: absolute;
  bottom: 2%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.playerName {
  position: absolute;
  background-color: black;
  width: 10rem;
}

.timePlayed {
  display: flex;
}

.gridItem {
  padding: 10px;
  grid-column: span 2;
  display: flex;
}

.stats {
  align-self: flex-start;
}

.stats {
  margin-top: 20px;
}

.stats h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.stats2 {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  align-self: flex-start;
  margin-top: 2rem;
}

.timePlayed {
  width: 100%;
  display: flex;
}

.gridItem {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 17rem;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: all 0.3s ease;
}

.gridItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stats2 > div:last-child {
  margin-right: 0;
}

.stats2 h3 {
  font-size: 1.3rem;
}

.stats2 p {
  margin: 0;
  font-size: 1rem;
}

.timePlayed {
}

.gamesWon {
  margin-top: 3rem;
}

.stats3 {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  align-self: flex-start;
  margin-top: 2rem;
  justify-content: space-around;
}

.stats3 h3 {
  font-size: 2rem;
}

.gameStats > h2 {
  font-size: 3rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bolder;
}

.loading p {
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
