.container {
  height: 100vh; /* Set container height to cover viewport */
}

.fixedResults {
  position: fixed; /* Fix the position of the search results */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Position at the left of the viewport */
  width: 100%; /* Set width to cover the entire viewport */
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
}
