@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Kode Mono", monospace;
}

h3 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Kode Mono", monospace;
}

h5 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Kode Mono", monospace;
}
