.navDiv {
  bottom: 1rem;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.navDiv {
  color: black;
}
