.navDiv {
  bottom: 1rem;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: 2px outset #10e6f1;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.gridItem:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px #10e6f1;
  background: linear-gradient(120deg, #3498db, #8e44ad);
}

.navDiv {
  color: black;
}
